<div>
  <a [routerLink]="['/posts/facts/facts-create/' + post?.id]" class="btn btn-primary post-nav">Add New Fact</a>
</div>
<div>
  <h2>{{ post?.title }}</h2>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fact</th>
        <th scope="col">Likes</th>
        <!-- <th><button *ngIf="userIsAuthenticated && userId !== post.creator" (click)="likePost(post)" class="btn btn-success post-nav">Like</button></th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fact of post?.facts">
        <th scope="row">{{fact.fact}}</th>
        <th scope="row">{{fact.likes}}</th>
      </tr>
    </tbody>
  </table>
  
  