<div class="container">
  <div>
    <h2>{{ post?.title }}</h2>
  </div>
  <div class="add-fact">
      <a [routerLink]="['/posts/facts/facts-create/' + post?.id]" class="btn btn-info post-nav">Add New Fact</a>
      <button *ngIf="userIsAuthenticated && userId !== post?.creator" (click)="likePost(post)" class="btn btn-success post-nav like">Like Topic</button>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fact</th>
        <th scope="col">Likes</th>
        <th scope="col">Actions</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fact of facts">
        <th scope="row">{{ fact.content }}</th>
        <th scope="row">{{ fact.likes }}</th>
        <th><button *ngIf="userIsAuthenticated" (click)="likeFact(fact)" class="btn btn-success post-nav">Like</button></th>
      </tr>
    </tbody>
  </table>
</div>
  