<div class="container">
  <div>
    <h2>{{ post?.title }}</h2>
  </div>
  <div class="add-fact">
      <a [routerLink]="['/posts/facts/facts-create/' + post?.id]" class="btn btn-info post-nav">Add New Fact</a>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Fact</th>
        <th scope="col">Likes</th>
        <th scope="col">Actions</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">nothing</th>
        <th scope="row">nothing</th>
        <th><button *ngIf="userIsAuthenticated" class="btn btn-success post-nav">Like</button></th>
      </tr>
    </tbody>
  </table>
</div>
  