<form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <h1>Register</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" ngModel type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #emailInput="ngModel" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" ngModel type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #passwordInput="ngModel" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <div class="response-msg">
        <div *ngIf="message ==='User created'" class="alert alert-success" role="alert">
            {{ message }}
        </div>

        <div *ngIf="message ==='Registration failed, an account may already exist.'" class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>
    