<h1>Posts</h1>
<div>
    <a class="btn btn-primary" routerLink="/posts/posts-create" routerLinkActive="active">Create New Post</a>
</div>
<div style="padding: 10px; display: inline-block;" *ngFor="let post of posts">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <span style="float:right;">{{ post.likes }}</span>
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <button *ngIf="userIsAuthenticated && userId === post.creator" (click)="onDelete(post.id)" class="btn btn-primary post-nav">Delete</button>
            <a *ngIf="userIsAuthenticated && userId === post.creator" [routerLink]="['/posts/edit', post.id]" class="btn btn-primary post-nav">Edit</a>
            <a [routerLink]="['/posts/facts/', post.id]" class="btn btn-primary post-nav">Facts</a>
            <button *ngIf="userIsAuthenticated && userId !== post.creator" (click)="likePost(post)" class="btn btn-success post-nav">Like</button>
        </div>
    </div>
</div>
