<div class="container">
    <h1>Decks</h1>
    <div class="create-button">
        <a class="btn btn-info" routerLink="/decks/deck-create" routerLinkActive="active">Create New Deck</a>
    </div>
    <div style="padding: 10px; display: inline-block;" *ngFor="let deck of decks">
        <div class="card flash">
            <div class="card-body">
                <span style="float:right;">{{ deck.likes }}</span>
                <h5 class="card-title">{{ deck.title }}</h5>
                <p class="card-text">{{ deck.content }}</p>
                <div class="button-position">
                    <button *ngIf="userIsAuthenticated && userId === deck.creator" (click)="onDelete(deck.id)" class="btn btn-danger post-nav">Delete</button>
                    <!-- <a *ngIf="userIsAuthenticated && userId === deck.creator" [routerLink]="['/posts/edit', post.id]" class="btn btn-info post-nav">Edit</a> -->
                    <a [routerLink]="['/decks/', deck.id]" class="btn btn-info post-nav">Topics</a>
                </div>
            </div>
        </div>
    </div>
</div>